* {
  box-sizing: border-box;
}
.girl {
  border: 2px solid red;
  width: 204px;
  max-width: 1170px;
  margin: 3rem;
  display: inline-block;
  gap: 2rem;
}
body {
  background: #f1f5f3;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
